video::-webkit-media-controls {
  display:none !important;
}
video {
  height: 0px;
  width: 0px;
}
body {
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  color: white;
}
.hidden {
  display: none;
}
